{% extends "base.html" %}

{% block title %}Add expenses{% end %}
{% block title_h1 %}Add expenses{% end %}

{% block additional_css_js %}

<link rel="stylesheet" href="/static/js-tools/css/autocomplete.css">
<link rel="stylesheet" href="/static/css/add_expenses_table.css">
<script src="/static/js-tools/js/autocomplete.js"></script>
<script src="/static/js/add_expenses_table.js"></script>

{% end %}

{% block content %}

<div id="add_expenses">
  <table class="table table-striped" id="add_expenses_table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Price</th>
        <th>Categories</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="5"><span class="glyphicon glyphicon-info-sign"></span> Please enable JavaScript to be able to add expenses</td></tr>
    </tbody>
  </table>
  <button id="submit-expenses" class="btn btn-default" type="submit">Submit valid expenses</button>
</div>

<script type="text/javascript">
  initAddExpensesTable("{{ reverse_url('xml_add_expense') }}", "{{ reverse_url('xml_trees') }}");
</script>

{% end %}
