<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% end %} [MyMon€y]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/jquery-ui/themes/base/all.css" />
    <link rel="stylesheet" href="/static/css/dashboard.css" />
    <link rel="stylesheet" href="/static/js-tools/css/sorted-table.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/jquery-ui/ui/core.js"></script>
    <script src="/static/jquery-ui/ui/datepicker.js"></script>
    <script src="/static/jquery-ui/ui/widget.js"></script>
    <script src="/static/jquery-ui/ui/mouse.js"></script>
    <script src="/static/jquery-ui/ui/resizable.js"></script>
    <script src="/static/jquery-ui/ui/draggable.js"></script>
    <script src="/static/jquery-ui/ui/droppable.js"></script>
    <script src="/static/jquery-ui/ui/sortable.js"></script>
    <script src="/static/js-tools/js/sorted-table.js"></script>
    <script src="/static/js/WebSocketManager.js"></script>
    
    <script>
    <!--
      function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
      }
      var ws = new WebSocketManager("ws"
          + (window.location.protocol == "https:" ? "s" : "")
          + "://" + window.location.host + "{{ reverse_url('websocket') }}");
    -->
    </script>
    {% block additional_css_js %}{% end %}
  </head>
  <body>
    {% set global page %}
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">Project name</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li {% if page == "display_expenses" %}class="active"{% end %}>
              <a href="{{ reverse_url('display_expenses') }}">Quick preview</a>
            </li>
            <li {% if page == "display_tree_expenses" %}class="active"{% end %}>
              <a href="{{ reverse_url('display_tree_expenses') }}">Expenses</a>
            </li>
            <li {% if page == "add_expenses" %}class="active"{% end %} title="Add new expenses">
              <a href="{{ reverse_url('add_expenses') }}"><span class="glyphicon glyphicon-plus"></span></a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li {% if page == "configure_nodes" %}class="active"{% end %} title="Configure tree">
              <a href="{{ reverse_url('configure_nodes') }}"><span class="glyphicon glyphicon-wrench"></span></a>
            </li>
            <li {% if page == "login" %}class="active"{% end %} title="Logout">
            <a href="{{ reverse_url('logout') }}"><span class="glyphicon glyphicon-off"></span></a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <script>
    <!--
      $("ul.navbar-nav li[title]").each(function() {
        $(this).attr("data-toggle", "tooltip");
        $(this).attr("data-placement", "bottom");
        $(this).tooltip();
      });
    -->
    </script>
    <div id="webpage-content" class="container">
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><!-- title --></h4>
            </div>
            <div class="modal-body"><!-- body --></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Reconnect</button>
            </div>
          </div>
        </div>
      </div>
      {% block content %}{% end %}
    </div>
  </body>
</html>
