<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% end %} [MyMon€y]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/jquery-ui-1.11.1/jquery-ui.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/jquery-ui-1.11.1/jquery-ui.min.js"></script>
    
    <script>
    <!--
      function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
      }
    -->
    </script>
    {% block additional_css_js %}{% end %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        {% set global page %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="title-sidebar">
              <a href="#">Main</a>
            </li>
            <li >
              <a href="#">Home <span class="glyphicon glyphicon-home"></span></a>
            </li>
            <li {% if page == "display_expenses" %}class="active"{% end %}>
              <a href="{{ reverse_url('display_expenses') }}">My expenses <span class="glyphicon glyphicon-th-list"></span></a>
            </li>
            <li {% if page == "add_expenses" %}class="active"{% end %}>
              <a href="{{ reverse_url('add_expenses') }}">Add expenses <span class="glyphicon glyphicon-plus"></span></a>
            </li>
            <li {% if page == "configure_nodes" %}class="active"{% end %}>
              <a href="{{ reverse_url('configure_nodes') }}">Configure nodes <span class="glyphicon glyphicon-wrench"></span></a>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{% block title_h1 %}MyMon€y{% end %}</h1>
          {% block content %}{% end %}
        </div>
      </div>
    </div>
  </body>
</html>
