{% extends "base.html" %}

{% block title %}Expenses{% end %}

{% block additional_css_js %}

<link rel="stylesheet" href="/static/js-tools/css/hierarchy-table.css" />
<link rel="stylesheet" href="/static/css/display-tree.css" />
<script src="/static/js-tools/js/hierarchy-table.js"></script>
<script src="/static/js/display_tree_expenses_table.js"></script>

{% end %}

{% block content %}

<div id="display-tree-expenses">
  <script type="text/javascript">
    function hideOrShow(c) {
      var $elt = $('.hcolumns-choices');
      if ($elt.is(":visible")) {
        $elt.hide(500);
        $(c).html('<span class="glyphicon glyphicon-pencil"></span> Edit');
      } else {
        $elt.show(500);
        $(c).html('<span class="glyphicon glyphicon-minus"></span> Hide');
      }
    }
  </script>
  <div style="text-align:right;">
    <a href="#" onclick="javascript:hideOrShow(this);"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
  </div>
  <div class="hcolumns-choices container-fluid">
    <ul class="hcolumns col-md-4" id="columns_hierarchy">
      <li class="hcolumn" data-label="date_year">Year</li>
      <li class="hcolumn" data-label="date_month">Month</li>
      <li class="hcolumn" data-label="category">Category</li>
      <li class="hcolumn" data-label="title">Title</li>
    </ul>
    <ul class="hcolumns col-md-4" id="columns_usual">
      <li class="hcolumn" data-label="price">Price</li>
    </ul>
    <ul class="hcolumns col-md-4" id="columns_rejected">
      <li class="hcolumn" data-label="date">Date</li>
      <li class="hcolumn" data-label="date_weekday">Weekday</li>
      <li class="hcolumn" data-label="date_day">Day</li>
    </ul>
    <div><a href="#" onclick="javascript:buildHierarchyTable(rawdata, id2node, $table);"><span class="glyphicon glyphicon-refresh"> Refresh display</a></div>
  </div>
  <table id="display-tree-expenses-table" class="hierarchy-table">
    <thead>
      <tr>
        <th>Categories</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="2"><span class="glyphicon glyphicon-info-sign"></span> Please enable JavaScript to be able to see expenses</td></tr>
    </tbody>
  </table>
  <script type="text/javascript">
    $('.hcolumns-choices').hide();
    var rawdata = [
      {% for expense_id, expense in expenses.items() %}
      {
        title: "{{ expense['title'] }}",
        category_ids: [
          {% for category_id, category_name in expense['categories'].items() %}
               {{ category_id }},     
          {% end %}
        ],
        date: {{ expense['date'] }},
        price: {{ expense['price'] }},
      },
      {% end %}
    ];

    var id2node = {};
    var $table = $("#display-tree-expenses-table");
    initAddExpensesTable("{{ reverse_url('xml_trees') }}", rawdata, $table, id2node);
    
    $("li.hcolumn").draggable({revert: true,});
    $("ul.hcolumns").droppable({
        accept: "li.hcolumn",
        drop: function(event, ui)
        {
          var offsetLeft = $(ui.draggable[0]).offset().left;
          var offsetRight = offsetLeft + $(ui.draggable[0]).width();
          //$(ui.draggable[0]).remove();

          var found = false;
          var nodes_to_move = new Array();
          var length = $(this).children().length;
          for (var i = 0 ; i != length ; i++) {
            var childOffsetLeft = $($(this).children()[i]).offset().left;
            var childOffsetRight = childOffsetLeft + $($(this).children()[i]).width();
            if (found || (offsetLeft + offsetRight)/2 <= (childOffsetLeft + childOffsetRight)/2) {
              found = true;
              $(this).append($(ui.draggable[0]));
              if (ui.draggable[0] != $(this).children()[i]) {
                nodes_to_move.push($(this).children()[i]);
              }
            }
          }
          if (! found) {
            $(this).append($(ui.draggable[0]));
          }
          for (var i = 0 ; i != nodes_to_move.length ; i++) {
            $(this).append($(nodes_to_move[i]));
          }
          //$(ui.draggable[0]).draggable({revert: true,}); //due to remove
          editHierarchyTable(rawdata, id2node, $table, $(ui.draggable[0]).attr("data-label"));
        },
    });
  </script>
</div>

{% end %}
