table#add_expenses_table tbody input {
    border: 0;
    line-height: 34px;
    line-height: 1.42857143 \0;
}

table#add_expenses_table tbody input:invalid {
    background-color: #ff9999;
    box-shadow: 0 0 2px #ff0000;
}

table#add_expenses_table tbody input:valid:focus {
    box-shadow: 0 0 2px #428BCA;
}

table#add_expenses_table tbody input:valid:hover {
    box-shadow: 0 0 2px #00ff00;
}

table#add_expenses_table tbody input.date-input {
    margin-left: 10px;
}

table#add_expenses_table tbody input.price-input {
    text-align: right;
}

table#add_expenses_table tbody tr.expense-wait td {
    background-color: #a3c5e1;
}

table#add_expenses_table tbody tr.expense-success td {
    background-color: #b3ffb3;
}

table#add_expenses_table tbody tr.expense-fail td {
    background-color: #ffb3b3;
}

table#add_expenses_table tbody tr td:last-child {
    vertical-align: middle;
}

table#add_expenses_table tbody .glyphicon:not(:first-child) {
    margin-left: 10px;
}

ul.autocomplete-selection li {
    cursor: pointer;
}

ul.categories,
ul.autocomplete-selection {
    list-style-type: none;
    padding: 0px;
}

ul.categories li,
ul.autocomplete-selection li{
    background-color: #428BCA;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

