ul.hcolumns
{
    list-style-type: none;
    padding: 10px;
    border: dashed 1px #000000;
}

ul.hcolumns li.hcolumn
{
    background-color: #428BCA;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}

ul.hcolumns#columns_rejected li.hcolumn
{
    background-color: #aaaaaa;
}

table.hierarchy-table
{
    width: 100%;
}

